<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ObjectsRecognition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ObjectsRecognition.Properties.Settings>
            <setting name="Confidence" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Frequency" serializeAs="String">
                <value>Each Frame</value>
            </setting>
            <setting name="FilesLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IsAutoMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentModel" serializeAs="String">
                <value>trafficsign.onnx</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Loop" serializeAs="String">
                <value>1</value>
            </setting>
        </ObjectsRecognition.Properties.Settings>
    </userSettings>
</configuration>